<div class="containdatapopup">
  <div class="tabtracuusddv">
    <li><a [routerLinkActive]="['select']" routerLink='/cai-dat/dang-ky-huy-reset'>Đăng ký / Hủy / Reset</a></li>




  </div>

  <div class="fillterarea">
    <table cellspacing="5" cellpadding="5">
      <tbody>
        <tr>
          <td width="100">Số thuê bao:</td>
          <td colspan="5"><input type="text" style="width:147px" class="textbox" [(ngModel)]="api.request.msisdn"></td>
          <td>Gói cước:</td>
          <td><select style="width:150px" class="dropdownlist" [(ngModel)]="api.request.packagename"><option>-- Chọn gói cước --</option></select></td>
          <td width="200" align="right" rowspan="2"><input type="button" value="Tra cứu" class="btn_search" (click)="search()"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <table class="tbl_style center">
    <tbody>
      <tr>
        <th>Dịch vụ</th>
        <th>Gói cước</th>
        <th>Trạng thái</th>
        <th colspan="2" *ngIf="user.getRole() == 'admin'">Thao tác</th>
      </tr>
      <tr  *ngFor="let e of data">
        <td>{{ api.getServiceName() }}</td>
        <td>{{ e.packagename }}</td>
        <td>{{ e.status == 1?'Hoạt động':'Không hoạt động' }}</td>
        <td colspan="2" *ngIf="(user.getRole() == 'admin') && (e.status != 1)"><a class="btnintbl" (click)="sendCommand(e.packagename, 'reg')"><span class="icondk">Đăng ký</span></a></td>
        <td width="100px" *ngIf="(user.getRole() == 'admin') && (e.status == 1)"><a class="btnintbl" (click)="sendCommand(e.packagename, 'unreg')"><span class="iconhuy">Hủy</span></a></td>
        <td width="100px" *ngIf="(user.getRole()  == 'admin') && (e.status == 1)"><a class="btnintbl" (click)="sendCommand(e.packagename, 'reset')"><span class="iconreset">Reset</span></a></td>
      </tr>
    </tbody>
  </table>

<div style="display:none; ">
  <h4 class="mb10">Hủy theo file</h4>

  <table>
    <tbody>
      <tr>
        <td>Gói cước:</td>
        <td><select class="dropdownlist" style="width:150px"><option>-- Chọn gói cước --</option></select></td>
        <td align="right" width="80">Chọn file:</td>
        <td><input type="file"></td>
        <td><input type="button" class="btn_huy" value="Hủy"></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
