<div class="containdatapopup">
  <div class="tabtracuusddv">
    <li><a [routerLinkActive]="['select']" routerLink='/cai-dat/dang-ky-huy-reset'>Đăng ký / Hủy / Reset</a></li>



    
  </div>
  <h1>TODO: Chức năng này đang được xây dựng</h1>
</div>
