<div class="p10 bor">
	<h4 class="titlecheck">Dịch vụ: Xổ Số Phất Lộc</h4>
	<p>Xổ số phát lộc là cổng dịch vụ cung cấp các thông tin kết quả và thống kê hàng ngày xổ số kiến thiết đất nước cho các thuê bao mạng Vinaphone.</p>
  <p>Thông tin dịch vụ:</p>
  <ul>
     <li>Tên dịch vụ: Xổ số phát lộc</li>
     <li>Dịch vụ được triển khai trên các nền tảng: WAP, WEB, SMS.</li>
     <li>Đầu số dịch vụ: 9855</li>
     <li>Địa chỉ wapsite: <a href="http://xosophatloc.vn">http://xosophatloc.vn</a></li>
     <li>Dịch vụ mang thương hiệu: HỒ HUY MEDIA</li>
  </ul>


  <h4 class="titlecheck">Cách sử dụng dịch vụ:</h4>

  <p>Truy cập dịch vụ tại website http://xosophatloc.vn</p>
	<br>

  <h4 class="titlecheck">Giá cước:</h4>
  <ul>
  <li>Gói Kết quả Xổ số Miền Bắc: 2000đ/ngày</li>
  <li>Gói Kết quả Xổ số Miền Trung: 3000đ/ngày</li>
  <li>Gói Kết quả Xổ số Miền Nam:  3.000đ/ngày</li>
  <li>Gói Thống kê xổ số Miền Bắc: 3.000đ/ngày</li>
  <li>Gói thống kê xổ số Miền Trung: 3.000đ/ngày</li>
  <li>Gói thống kê xổ số Miền Nam: 3.000đ/ngày</li>
  <li>Cước data: Miễn phí</li>
  <li>Cước gửi tin nhắn đến đầu số: Miễn phí</li>
  </ul>
	<br>
	<h4 class="titlecheck">Đăng ký/Hủy:</h4>
  <p>Khách hàng gửi tin nhắn tới đầu số 9855 theo cú pháp:</p>
  <ul>
  <li>Kết quả XSMB: (XS)  (MB; DK XS; DK MB)  HUY XS</li>
  <li>Kết quả XSMT: (MT)  DK MT / HUY MT</li>
  <li>Kết quả XSMN: (MN)  DK MN / HUY MN</li>
  <li>Thống kê XSMB: (TK) DK TKB / HUY TKB</li>
  <li>Thống kê XSMT: (TKT) DK TKT / HUY TKT</li>
  <li>Thống kê XSMN: (TKN) DK TKN / HUY TKN</li>
  </ul>
<div style="display:none;">
  <h4 class="titlecheck">Link Vinaphone - Cong dang ky tap trung</h4>

  <label>Command</label>
  <select [(ngModel)]="link.cmd">
    <option value="REG">Đăng ký</option>
    <option value="UNREG">Hủy</option>
  </select><br/>

  <label>Request ID</label>
  <input [(ngModel)]="link.requestId" /><br/>
  <label>Return URL</label>
  <input [(ngModel)]="link.returnUrl" /><br/>
  <label>Back URL</label>
  <input [(ngModel)]="link.backUrl" /><br/>

  <label>CP</label>
  <input [(ngModel)]="link.cp" /><br/>
  <label>Service</label>
  <input [(ngModel)]="link.service"/><br/>
  <label>Secure Pass</label>
  <input [(ngModel)]="link.securePass"/><br/>
  <label>Date</label>
  <input [(ngModel)]="link.requestDate"/><br/>

  <button (click)="generate()">Submit</button>

  <pre *ngFor="let result of resultLinks; let i = index">
    <code>
      {{ result }}
    </code>
  </pre>
</div>
</div>
