<div class="containdatapopup">
  <div class="tabtracuusddv">
    <li><a [routerLinkActive]="['select']" routerLink='/tra-cuu/lich-su-dk-huy'>Lịch sử Đăng ký / Hủy</a></li>
    <li><a [routerLinkActive]="['select']" routerLink='/tra-cuu/lich-su-tru-cuoc'>Lịch sử trừ cước</a></li>
    <li><a [routerLinkActive]="['select']" routerLink='/tra-cuu/lich-su-su-dung'>Lịch sử sử dụng</a></li>
    <li><a [routerLinkActive]="['select']" routerLink='/tra-cuu/lich-su-mo-mt'>Lịch sử MO /MT</a></li>

  </div>
  <div class="fillterarea">
    <table>
      <tbody>
        <tr>
          <td width="100">Số thuê bao:</td>
          <td colspan="5"><input style="width:147px" type="text" class="textbox" [(ngModel)]="api.request.msisdn"></td>
          <td rowspan="2" align="right" width="200"><input type="button" value="Tra cứu" class="btn_search" (click)="search()"></td>
        </tr>
        <tr>
          <td>Gói cước:</td>
          <td><select style="width:150px" class="dropdownlist"><option>-- Chọn gói cước --</option></select></td>
          <td>Thời gian bắt đầu:</td>
          <td><material-datepicker [(date)]="api.request.fromdate" dateFormat="YYYY-MM-DD"></material-datepicker></td>
          <td>Thời gian kết thúc</td>
          <td><material-datepicker [(date)]="api.request.todate" dateFormat="YYYY-MM-DD"></material-datepicker></td>
        </tr>
      </tbody>
    </table>
  </div>

  <table class="tbl_style">
    <thead>
      <tr>
        <th>Thời gian giao dịch</th>
        <th>Loại giao dịch</th>
        <th>Gói cước</th>
        <th>Tình trạng</th>
        <th>Kênh</th>
        <th>Ứng dụng/Sự kiện</th>
        <th>Tài khoản/CT</th>
        <th>User IP</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of data | paginate: pagination">
        <td align="center"><span>{{ e.datetime }}</span></td>
        <td align="center"><span>{{ e.eventname == 'REG'?'Đăng ký':'Hủy' }}</span></td>
        <td align="center"><span>{{ e.packagename }}</span></td>
        <td align="center"><span>{{ e.status == 1?'Thành công':'Không thành công' }}</span></td>
        <td align="center"><span>{{ e.channel }}</span></td>
        <td>{{ e.application }}</td>
        <td align="center"><span>{{ e.username }}</span></td>
        <td>{{ e.userip }}</td>
      </tr>
    </tbody>
  </table>

  <pagination-template #p="paginationApi" (pageChange)="pageChanged($event)">
    <div class="paginator"><ul>
        <li>Trang:</li>
        <li class="pagination-previous" [class.disabled]="p.isFirstPage()">
            <a *ngIf="!p.isFirstPage()" (click)="p.previous()"> < </a>
        </li>

        <li *ngFor="let page of p.pages">
            <a (click)="p.setCurrent(page.value)" [class.active]="p.getCurrent() === page.value">{{ page.label }}</a>
        </li>

        <li class="pagination-next" [class.disabled]="p.isLastPage()">
            <a *ngIf="!p.isLastPage()" (click)="p.next()"> > </a>
        </li>
    </ul></div>
    <br style="clear: both; display: inline-block;"/>
</pagination-template>

</div>
