<div class="containdatapopup">
  <div class="tabtracuusddv">
    <li><a [routerLinkActive]="['select']" routerLink='/tra-cuu/lich-su-dk-huy'>Lịch sử Đăng ký / Hủy</a></li>
    <li><a [routerLinkActive]="['select']" routerLink='/tra-cuu/lich-su-tru-cuoc'>Lịch sử trừ cước</a></li>
    <li><a [routerLinkActive]="['select']" routerLink='/tra-cuu/lich-su-su-dung'>Lịch sử sử dụng</a></li>
    <li><a [routerLinkActive]="['select']" routerLink='/tra-cuu/lich-su-mo-mt'>Lịch sử MO /MT</a></li>

  </div>
  <div class="fillterarea">
    <table>
      <tbody>
        <tr>
          <td width="100">Số thuê bao:</td>
          <td colspan="5"><input style="width:147px" type="text" class="textbox" [(ngModel)]="api.request.msisdn"></td>
          <td rowspan="2" align="right" width="200"><input type="button" value="Tra cứu" class="btn_search" (click)="search()"></td>
        </tr>
        <tr>
          <td>Gói cước:</td>
          <td><select style="width:150px" class="dropdownlist"><option>-- Chọn gói cước --</option></select></td>
          <td>Thời gian bắt đầu:</td>
          <td><material-datepicker [(date)]="api.request.fromdate" dateFormat="YYYY-MM-DD"></material-datepicker></td>
          <td>Thời gian kết thúc</td>
          <td><material-datepicker [(date)]="api.request.todate" dateFormat="YYYY-MM-DD"></material-datepicker></td>
        </tr>
      </tbody>
    </table>
  </div>

  <table class="tbl_style">
    <thead>
				<tr>
          <th>Nội dung MO</th>
          <th>Đầu số gửi MT</th>
          <th>Số thuê bao</th>
					<th>Thời gian gửi MT</th>
					<th>Nội dung MT</th>
				</tr>
				</thead>
    <tbody>

      <tr *ngFor="let e of data | paginate: pagination">
          <td align="center"><span>{{ e.mo }}</span></td>
					<td align="center"><span>{{ e.shortcode }}</span></td>
					<td align="center"><span>{{ e.msisdn }}</span></td>
					<td align="center"><span>{{ e.datetime }}</span></td>
					<td><span>{{ e.message }}</span></td>
      </tr>

    </tbody>
  </table>

  <pagination-template #p="paginationApi" (pageChange)="pageChanged($event)">
    <div class="paginator">
      <ul>
        <li>Trang:</li>
        <li class="pagination-previous" [class.disabled]="p.isFirstPage()">
          <a *ngIf="!p.isFirstPage()" (click)="p.previous()">
            < </a>
        </li>

        <li *ngFor="let page of p.pages">
          <a (click)="p.setCurrent(page.value)" [class.active]="p.getCurrent() === page.value">{{ page.label }}</a>
        </li>

        <li class="pagination-next" [class.disabled]="p.isLastPage()">
          <a *ngIf="!p.isLastPage()" (click)="p.next()"> > </a>
        </li>
      </ul>
    </div>
    <br style="clear: both; display: inline-block;" />
  </pagination-template>

</div>
