<div class="contain_popup">
  <div class="p8">
    <div class="title_containpopup">
      <h1>{{app.config.appName}}</h1>
      <div class="usercontrolarea">
        <i class="iconUser">&nbsp;</i>Xin chào: <b>{{user.getUsername()}}</b>
        | <a (click)="user.getUsername() == ''? user.login() : user.logout()">{{ user.getUsername() == '' ? 'Đăng nhập': 'Đăng xuất' }}</a>
      </div>
    </div>
    <div class="containdatapopup">
      <div class="supportarea">
        <li class="labelsp">Đầu mối giải quyết khiếu nại dịch vụ: </li>
        <li class="username">{{ app.config.contact.name }}</li>
        <li class="email">{{ app.config.contact.email }}</li>
        <li class="mobile">{{ app.config.contact.phone }}</li>
      </div>

      <!-- Tabbed Menu -->
      <div id="menutabs1" class="mt10">
        <a [routerLinkActive]="['selected']" routerLink='/thue-bao'>
          <img class="icon1" src="assets/icon1.png">
          <span>Tra cứu thuê bao</span>
        </a>
        <a [routerLinkActive]="['selected']" routerLink='/tra-cuu'>
          <img class="icon2" src="assets/icon2.png">
          <span>Tra cứu sử dụng dịch vụ</span>
        </a>
        <a [routerLinkActive]="['selected']" routerLink='/cai-dat'>
          <img class="icon3" src="assets/icon3.png">
          <span>Cài đặt dịch vụ</span>
        </a>
        <a [routerLinkActive]="['selected']" routerLink='/thong-tin-dich-vu'>
          <img class="icon4" src="assets/icon4.png">
          <span>Thông tin dịch vụ</span>
        </a>
      </div>

      <div class="modal" *ngIf="app.modal.show">
        <h1 class="title">{{app.modal.title}}</h1>
        <div class="modal-content">
          <p>{{app.modal.msg}}</p>
          <button (click)="app.modal.close()">OK</button>
        </div>
      </div>


      <router-outlet></router-outlet>
    </div>
  </div>
</div>
