<h4 class="titlecheck">Dịch vụ: Xổ Số Phất Lộc</h4>
<p>Xổ số phát lộc là cổng dịch vụ cung cấp các thông tin kết quả và thống kê hàng ngày xổ số kiến thiết đất nước cho các thuê bao mạng Vinaphone.</p>
<p>Thông tin dịch vụ:</p>
<ul>
  <li><strong>Tên dịch vụ:</strong> Xổ số phát lộc</li>
  <li><strong>Dịch vụ được triển khai trên các nền tảng:</strong> WAP, WEB, SMS.</li>
  <li><strong>Đầu số dịch vụ:</strong> <tt>9855</tt></li>
  <li><strong>Địa chỉ wapsite:</strong> <a href="http://xosophatloc.vn">http://xosophatloc.vn</a></li>
  <li><strong>Dịch vụ mang thương hiệu:</strong> HỒ HUY MEDIA</li>
</ul>


<h4 class="titlecheck">Cách sử dụng dịch vụ:</h4>

<p>Truy cập dịch vụ tại website http://xosophatloc.vn</p>

<h4 class="titlecheck">Giá cước:</h4>
<ul>
  <li><strong>Gói Kết quả Xổ số Miền Bắc:</strong> 2000đ/ngày</li>
  <li><strong>Gói Kết quả Xổ số Miền Trung:</strong> 3000đ/ngày</li>
  <li><strong>Gói Kết quả Xổ số Miền Nam:</strong> 3.000đ/ngày</li>
  <li><strong>Gói Thống kê xổ số Miền Bắc:</strong> 3.000đ/ngày</li>
  <li><strong>Gói thống kê xổ số Miền Trung:</strong> 3.000đ/ngày</li>
  <li><strong>Gói thống kê xổ số Miền Nam:</strong> 3.000đ/ngày</li>
  <li><strong>Cước data:</strong> Miễn phí</li>
  <li><strong>Cước gửi tin nhắn đến đầu số:</strong> Miễn phí</li>
</ul>
<br>
<h4 class="titlecheck">Đăng ký/Hủy:</h4>
<p>Khách hàng gửi tin nhắn tới đầu số 9855 theo cú pháp:</p>
<ul>
  <li><strong>Kết quả XSMB:</strong> (XS) (MB; DK XS; DK MB) HUY XS</li>
  <li><strong>Kết quả XSMT:</strong> (MT) DK MT / HUY MT</li>
  <li><strong>Kết quả XSMN:</strong> (MN) DK MN / HUY MN</li>
  <li><strong>Thống kê XSMB:</strong> (TK) DK TKB / HUY TKB</li>
  <li><strong>Thống kê XSMT:</strong> (TKT) DK TKT / HUY TKT</li>
  <li><strong>Thống kê XSMN:</strong> (TKN) DK TKN / HUY TKN</li>
</ul>
