<div class="fillterarea">
  <table>
    <tbody>
      <tr>
        <td width="100">Số thuê bao:</td>
        <td><input type="text" class="textbox" [(ngModel)]="api.request.msisdn"></td>
        <td align="right" width="200"><button class="btn_search" (click)="search()">Tra cứu</button></td>
      </tr>
    </tbody>
  </table>
</div>
<table class="tbl_style">
  <thead>
    <tr>
      <th>Dịch vụ</th>
      <th>Gói cước</th>
      <th>Trạng thái</th>
      <th>Ngày đăng ký</th>
      <th>Hiệu lực gói cước</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of data">
      <td align="center"><span>{{ e.servicename }}</span></td>
      <td align="center"><span>{{ e.packagename }}</span></td>
      <td><span>{{ e.status == 1?'Hoạt Động': 'Không Hoạt Động'}}</span></td>
      <td align="center"><span>{{ e.last_time_subscribe }}</span></td>
      <td align="center"><span>{{ e.expire_time }}</span></td>
    </tr>
  </tbody>
</table>
